.stat {
  display: block;
}

.stat__value {
  margin-bottom: 0.25rem; /* 4px */
  font-family: var(--font-inter);
  font-size: 1.5rem; /* 24px */
  font-weight: 700;
  line-height: 2rem; /* 32px */
  color: var(--color-white);
  text-transform: uppercase;
}

.stat__name {
  font-family: var(--font-lexend);
  font-size: 0.8125rem; /* 13px */
  font-weight: 400;
  line-height: 1rem; /* 16px */
  color: var(--color-slighly-transparent-white-h);
  text-transform: uppercase;
}